::ng-deep {
  /* Small */
  @media (max-width: 768px) {
    .col-2 {
      width: calc(100% / 2);
    }
  }

  /* Medium */
  @media (min-width: 769px) and (max-width: 1199px) {
    .col-2 {
      width: calc(100% / 4);
    }
  }

  /* Large */
  @media (min-width: 1200px) {
    .col-2 {
      width: calc(100% / 6);
    }
  }
}
